<!DOCTYPE html>
<html lang="fr">
<!-- <link rel="stylesheet" href="../CSS/seConnecter.css"> -->
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">

<div class="background">
  <div class="top-buttons">
    <button class="top-button"> <img src="../assets/images/volume.png" alt="musique"></button>
    <button class="top-button" (click)="toggleMenu()"> <img src="../assets/images/settings.png"
        alt="parametres"></button>
  </div>
  <div *ngIf="isOpen" class="side-menu" [ngClass]="{'open': isOpen}">
    <ul>
      <li><a href="#">Crédits</a></li>
      <li><a [routerLink]="['/ecranAccueil']" (click)="removeToken()"><b>Se déconnecter</b></a></li>
    </ul>
  </div>
</div>