<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- <link rel="stylesheet" href="ecran-acceuil.component.css"> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecran d'accueil</title>

</head>
<body>
    <div class="background">
        <div class="top-buttons">
          <button class="top-button"> <img src="assets/images/volume.png" alt="musique"></button> <!-- Son -->
            <button class="top-button"><img src="assets/images/settings.png" alt="parametres"></button> <!-- Paramètres -->

        </div>
        <div class="content">
            <a href="creationCompte.html"><button class="button">Créer un compte</button></a>
            <a href="seConnecter.html"><button class="button">Se connecter</button></a>
            <button class="button">Quitter le jeu</button>
        </div>
    </div>
</body>
</html>
