<div class="menu-background">
  <div class="top-buttons-container">
    <app-top-buttons></app-top-buttons>
  </div>

  <div class="menu-container">
    <h1 class="menu-title">Menu Administration</h1>
    <div class="button-grid">
      <a routerLink="/menuAdmin/parties" class="button">Parties</a>
      <a routerLink="/menuAdmin/joueurs" class="button">Joueurs</a>
      <a routerLink="/menuAdmin/comptes" class="button">Comptes</a>
      <a routerLink="/menuAdmin/planetes" class="button">Planètes</a>
      <a routerLink="/menuAdmin/planetSeeds" class="button">Planet Seeds</a>
      <a routerLink="/menuAdmin/especes" class="button">Espèces</a>
      <a routerLink="/menuAdmin/possessions" class="button">Possessions</a>
      <a routerLink="/menuAdmin/batiments" class="button">Bâtiments</a>
    </div>
  </div>
</div>
