<html lang="fr">
<head>
    <!-- <link rel="stylesheet" href="../CSS/menuPartie.css"> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu des parties</title>

<!-- Dans cette version je fais plein de div pour utiliser grid-->

</head>
<body>
    <div class="background">

      <div class="files">
        <button class="button"> Nouvelle partie</button>
        <button class="button"> Nouvelle partie</button>
        <button class="button"> Nouvelle partie</button>
      </div>

      <div class="online-files">
        <button class="button">Créer une partie en ligne</button>
        <button class="button">Rejoindre une partie en ligne</button>
      </div>

      <div class="bottom-center-buttons">
        <button class="button">Copier</button>
        <button class="button">Effacer</button>
      <a href="seConnecter.html"><button class="button">Retour</button></a>
      </div>

      <div class="top-right-buttons">
        <button class="button"><img src="../assets/images/volume.png" alt="musique"></button>
        <button class="button"><img src="../assets/images/settings.png" alt="parametres"></button>
      </div>

    </div>

</body>
</html>

