<!DOCTYPE html>
<html lang="fr">
<!-- <link rel="stylesheet" href="../CSS/seConnecter.css"> -->
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">

<div class="background">
  <div>
    <button class="parametres-button" (click)="toggleMenu()"> <img src="../assets/images/settings.png"
        alt="parametres"></button>
  </div>
  <div *ngIf="isOpen" class="side-menu" [ngClass]="{'open': isOpen}">
    <ul>
      <li>Compte</li>
      <li><a  (click)="removeToken()" [routerLink]="['/ecranAccueil']"><b>Se déconnecter</b></a></li>
      <li><a href="#">Crédits</a></li>
      <li>  <button class="volume-button" (click)="toggleVolume()">
    <img [src]="isMuted ? '../assets/images/volume-mute.png' : '../assets/images/volume.png'" alt="volume">
  </button></li>
    </ul>
  </div>
</div>

